#d1{
     /* background: linear-gradient(to bottom, #cc99ff 0%,  #ffcc66 100%);   */
    background: linear-gradient(to bottom, #e8b651 0%, #cc99ff 100%);  

    /* background: linear-gradient(to right, #ff6e7f, #bfe9ff);  */
    background-color: black;
    height:100vh
}

#d2{
    /* background: linear-gradient(to bottom, #ffcc66 0%, #cc99ff 100%); */
    /* background: linear-gradient(to right, #ff6e7f, #bfe9ff);  */
    /* background: linear-gradient(to right, #fffbd5, #d74864);} */
}

h1{
    font-weight:300 ;
    
}